<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="55">
        <mat-toolbar color="primary">Register page</mat-toolbar>
        <form class="example-form" fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="registerProcess()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password">
        </mat-form-field>

        <p>Already have an account? click <a routerLink="/">here</a> to login</p>
        <div fxLayoutAlign="center center">
        <button mat-button type="submit">Register</button>
        <button mat-button type="reset">Reset</button>
        </div>
        </form>

    </mat-card>

</div>
