<h2>
  Post Details
  <button (click)="editDialog()" *ngIf="post[0].User_ID == userId">Edit</button>
</h2>


<article class="post">
  <header>
    <div>
      <h2>
        <div>{{ post[0].Title }}</div>
        <ng-container *ngIf="post[0].is_Thumbed == 1">
          <mat-icon color = "accent" (click)="thumb_up_post()">thumb_up</mat-icon>
          {{post[0].Thumbs}}
        </ng-container>
        <ng-container *ngIf="post[0].is_Thumbed == 0">
          <mat-icon color = "primary" (click)="thumb_up_post()">thumb_up</mat-icon>
          {{post[0].Thumbs}}
        </ng-container>
      </h2>

      <div>
        {{post[0].Label}}
      </div>

      <div class="about">
        <ng-container *ngIf=" post[0].Label != 'Administrative' ">
          by <a href="#">{{ post[0].User_ID }}</a>,
        </ng-container>
        {{post[0].Time}}
        <ng-container *ngIf="post[0].Location">
          , <a href="{{post[0].Map_URL}}">{{ post[0].Location }}</a>
        </ng-container>
      </div>
    </div>
  </header>

  <br>
  <p class="body">{{ post[0].Content }}</p>
</article>

<br>
<h2>Comments</h2>
<ng-container *ngIf=" response != null ">
  <div *ngFor="let res of response">
      <div>
      <header>
        <a href="#">{{ res.User_ID }}</a>, {{ res.Time }}
        <ng-container *ngIf="res.is_Thumbed == 1">
          <mat-icon color = "accent" (click)="thumb_up_resp(res.Response_ID)">thumb_up</mat-icon>
          {{res.Thumbs}}
        </ng-container>
        <ng-container *ngIf="res.is_Thumbed == 0">
          <mat-icon color = "primary" (click)="thumb_up_resp(res.Response_ID)">thumb_up</mat-icon>
          {{res.Thumbs}}
        </ng-container>
        <button class="mat-raised-button mat-primary" (click)="showEdit(res.Response_ID, res.Content)" *ngIf="res.User_ID == userId && res.Response_ID != edit_id">Edit</button>
        <button class="mat-raised-button" (click)="cancelEdit()" *ngIf="res.Response_ID == edit_id">Cancel</button>
        <button (click)="onDelete(res.Response_ID)" *ngIf="res.User_ID == userId">Delete</button>
      </header>
        <p class="body" *ngIf="edit_id != res.Response_ID">
          {{ res.Content }}
        </p>
        <form [formGroup]="editForm" (ngSubmit)="cmtEdit(edit_id)" *ngIf="edit_id == res.Response_ID">
          <label for="content">Content:</label>
          <textarea [(ngModel)]="content" rows="5" cols="60" id="content" formControlName="content">{{content}}</textarea>
          <br>
          <button class="mat-raised-button mat-primary" (click)="cmtEdit(edit_id)">Update</button>
        </form>
      </div>
    <hr>
  </div>
</ng-container>

<form [formGroup]="commentForm" (ngSubmit)="cmtSubmit()">
  <div>
  <textarea rows="5" cols="60" name="content" formControlName="content"></textarea>
  </div>
  <button class="button" type="submit">Submit Comment</button>
</form>






