<ng-container
  *ngIf="isLoggedIn; then loggedIn; else loggedOut">
</ng-container>

  <ng-template #loggedIn>
    <div class="navbar">
      <h1>CUMC Badminton Services</h1>
      <a routerLink="">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Sessions
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/sessions">Book Session</a>
          <a href="/sessions/edit">Edit Session</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Forums
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/forum">Go to Forum</a>
          <a routerLink="/my-posts">My Posts</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Profile
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/profile">My Profile</a>
        </div>
      </div>
      <div class="topnav-right">
        <a routerLink="/login" class="button fancy-button" (click)="onClick()">
          <i class="material-icons">rowing</i>Logout
        </a>
      </div>
    </div>
    </ng-template>


<ng-template #loggedOut>
  <div class="navbar">
    <h1>CUMC Badminton Services</h1>
    <a href="#home">Home</a>
    <div class="topnav-right">
      <a routerLink="/login" class="button fancy-button">
        <i class="material-icons">devices</i>Login
      </a>
      <a routerLink="/register" class="button fancy-button">
        <i class="material-icons">person_add</i>Register
      </a>
    </div>
  </div>
</ng-template>

