
<h1>My profile</h1>

<head>
  <meta charset="utf-8">
  <!--font library is loaded prior to using mat-icons-->
  <link href=
          "https://fonts.googleapis.com/icon?family=Material+Icons&display=block"
        rel="stylesheet">
</head>

<p>userID: {{userId}}</p>

<div *ngIf="partner == null">
  <br>
  You don't have any partner yet
  <br>
  <ng-container *ngIf="partner == null">
    <button mat-raised-button color="basic" cdkFocusInitial class="col-md-3" type="submit"
            [disabled]=false (click)="AddpartnerDialog()">add partner</button>
  </ng-container>
</div>

<body *ngIf="partner != null">
<div *ngFor="let part of partner">
<table class="content-table">
  <thead>
  <tr>
    <th>My PartnerID:</th>
  </tr>
  </thead>
  <tbody >
  <ng-container *ngFor="let part of partner">
    <tr>
      <td>{{part.userid_to}}</td>
    <tr>
      <td>{{part.userid_from}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
</div>
<td>
  <ng-container *ngFor="let part of partner">
    <ng-container *ngIf="part.userid_from == null">
    <button (click)="onDelete(part.userid_to)" >Delete</button>
    </ng-container>
    <ng-container *ngIf="part.userid_to == null">
    <button (click)="onDelete1(part.userid_from)" >Delete</button>
    </ng-container>
  </ng-container>
</td>
</body>

