
<h1>My profile</h1>

<head>
  <meta charset="utf-8">
  <!--font library is loaded prior to using mat-icons-->
  <link href=
          "https://fonts.googleapis.com/icon?family=Material+Icons&display=block"
        rel="stylesheet">
</head>

<p>userID: {{userId}}</p>

<table class="content-table">
  <thead>
  <tr>
    <th>My PartnerID:</th>

  </tr>
  </thead>
  <tbody >
  <ng-container *ngFor="let partner of partner">
    <tr>
      <td>{{partner.userid_to}}</td>

    </tr>
  </ng-container>
  </tbody>
</table>

<button mat-raised-button (click)="addpartnerDialog()" *ngIf="partner[0].userid_to.toString() != userId.toString()">add partner</button>



