<h1 mat-dialog-title *ngIf="method == 'edit'">Edit my profile:</h1>


<mat-dialog-content [formGroup]="newprofileForm" (ngSubmit)="postSubmit()">

  <div>
    <label for="username">username:</label>
    <input id="username" type="text" formControlName="username">
  </div>
  <br>
  <div>
    <label for="birthday">birthday:</label>
    <input id="birthday" type="date" formControlName="birthday">
  </div>
  <br>
  <br>
  <div>
    <label for="sex">sex:</label>
    <select id="sex" name="sex" formControlName="sex">
      <option value="Female">Female</option>
      <option value="Male">Male</option>
    </select>
  </div>

  <br>
  <div>
    <label for="preference">preference:</label>
    <select id="preference" name="preference" formControlName="preference">
      <option value="Double">Double</option>
      <option value="Single">Single</option>
    </select>
  </div>
  <br>


</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="postSubmit()">Submit</button>
</mat-dialog-actions>

