
<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font">Forum</h1>
      <p>A place to share your love with <i>Badminton</i>.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link"
                 [ngClass]="{'active': label === 'All Posts'}"
                 (click)="setListTo('All Posts')">All Posts</a>
            </li>
            <li class="nav-item" *ngFor="let cat of labels">
              <a class="nav-link"
                 [ngClass]="{'active': label === cat}"
                 (click)="setListTo(cat)">
                {{cat}}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': label === 'My Posts'}"
                 (click)="setListTo('My Posts')">My Posts</a>
            </li>
          </ul>
        </div>

        <app-article-list [limit]="10" [config]="listConfig"></app-article-list>
      </div>

      <div class="col-md-3">
        <button class="btn btn-lg btn-primary btn-block" type="button" (click)="openDialog()">
          New Post
        </button>
        <br>

        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a *ngFor="let tag of labels"
               (click)="setListTo(tag)"
               class="tag-default tag-pill">
              {{ tag }}
            </a>
          </div>

          <div [hidden]="labels.length > 0">
            No tags are here... yet.
          </div>


        </div>
      </div>

    </div>
  </div>
</div>
