<html lang="en">
<head>
  <meta charset="utf-8">
  <!--font library is loaded prior to using mat-icons-->
  <link href=
          "https://fonts.googleapis.com/icon?family=Material+Icons&display=block"
        rel="stylesheet">
</head>

<div id="container">
  <ul id="menu">
    <li><a (click)="ngOnInit()">All Posts</a></li>
    <li *ngFor="let cat of labels">
      <a (click)="select_cat(cat)">{{cat}}</a>
    </li>
    <li><a routerLink="/my-posts">My Posts</a></li>
  </ul>
</div>

<body>

  <h1>{{label}}</h1>

  <button mat-raised-button (click)="openDialog()">Write a Post</button>

  <div *ngFor="let post of posts">
    <h3>
      <a [title]=" 'post '+ post.Post_ID + ' details' " [routerLink]="['/post', post.Post_ID]">
        {{ post.Title }}
      </a>

      <ng-container *ngIf="post.is_Thumbed == 1">
        <mat-icon color = "accent" (click)="thumb_up(post.Post_ID)">thumb_up</mat-icon>
        {{post.Thumbs}}
      </ng-container>
      <ng-container *ngIf="post.is_Thumbed == 0">
        <mat-icon color = "primary" (click)="thumb_up(post.Post_ID)">thumb_up</mat-icon>
        {{post.Thumbs}}
      </ng-container>
    </h3>

    <div>
      {{post.Label}}
    </div>

    <div class="about">
      <ng-container *ngIf=" post.Label != 'Administrative' ">
        by <a href="#">{{ post.User_ID }}</a>,
      </ng-container>
      {{post.Time}}
      <ng-container *ngIf="post.Location">
        , <a href="{{post.Map_URL}}">{{ post.Location }}</a>
      </ng-container>
    </div>
    <hr>

  </div>

</body>
</html>

