<app-article-preview
  *ngFor="let post of posts"
  [post]="post">
</app-article-preview>

<div class="app-article-preview"
     [hidden]="!loading">
  Loading posts...
</div>

<div class="app-article-preview"
     [hidden]="loading || posts.length">
  No posts here yet.
</div>

<nav [hidden]="loading || totalPages.length <= 1">
  <ul class="pagination">

    <li class="page-item"
        [ngClass]="{'active': pageNumber === currentPage}"
        *ngFor="let pageNumber of totalPages"
        (click)="setPageTo(pageNumber)">

      <a class="page-link" >{{ pageNumber }}</a>

    </li>

  </ul>
</nav>
