
<h1>My chat history</h1>

<head>
  <meta charset="utf-8">
  <!--font library is loaded prior to using mat-icons-->
  <link href=
          "https://fonts.googleapis.com/icon?family=Material+Icons&display=block"
        rel="stylesheet">
</head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card">
<p>UserID:&nbsp;&nbsp;{{userId}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<mat-dialog-content [formGroup]="newchatForm" (ngSubmit)="postSubmit()">
  <div>
    <label for="userid_to">Userid_to:&nbsp;&nbsp;</label>
    <input id="userid_to" type="number" formControlName="userid_to">
  </div>

  <br>

  <mat-dialog-actions>
    <button class="mat-raised-button mat-primary"(click)="postSubmit()">Find chat history</button>
  </mat-dialog-actions>
</mat-dialog-content>

<div *ngIf="chats == null">
  <br>
  You don't have any chat history
</div>
</div>

<div *ngIf="chats != null">

</div>
  <body>
  <div id="box">
    <div class="scroll">

      <div class="chat-container">
        <ng-container *ngFor="let chat of chats">
          <div *ngIf="chat.userid_from.toString() == userId; else othercase">
          <div class="chat-item-container chat-item-right">
            <div class="chat-item">Message from {{chat.its_username}} to {{chat.my_username}}</div>
            <div class="chat-item"  > <p>{{chat.Content}}</p><p>{{chat.Time}}</p></div>
          </div>
          </div>
          <ng-template #othercase>
          <div class="chat-item-container chat-item-left">
            <div class="chat-item" >Message from {{chat.its_username}} to {{chat.its_username}}</div>
            <div class="chat-item"><p>{{chat.Content}}</p><p>{{chat.Time}}</p></div>
          </div>
          </ng-template>
        </ng-container>
      </div>

    </div>
  </div>

  <br>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="card">
  <mat-dialog-content [formGroup]="chatForm" (ngSubmit)="sendingchat()">
    <div>
      <label for="userid_to">Input(ID number)&nbsp;:&nbsp;</label>
      <input id="userid_to" type="number" formControlName="userid_to">
    </div>
    <br>
    <div>
      <label for="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chat&nbsp;:&nbsp;</label>
      <textarea id="content" type="string" formControlName="content"></textarea>
    </div>


    <mat-dialog-actions>
      <button class="mat-raised-button mat-primary"(click)="sendingchat()">Send</button>
    </mat-dialog-actions>

  </mat-dialog-content>
  </div>


  </body>

