
<h1>My chat history</h1>

<head>
  <meta charset="utf-8">
  <!--font library is loaded prior to using mat-icons-->
  <link href=
          "https://fonts.googleapis.com/icon?family=Material+Icons&display=block"
        rel="stylesheet">
</head>

<p>userID: {{userId}}</p>

<mat-dialog-content [formGroup]="newchatForm" (ngSubmit)="postSubmit()">
  <div>
    <label for="userid_to">userid_to:</label>
    <input id="userid_to" type="number" formControlName="userid_to">
  </div>

  <mat-dialog-actions>
    <button class="mat-raised-button mat-primary"(click)="postSubmit()">Find chat history</button>
  </mat-dialog-actions>
</mat-dialog-content>

<div *ngIf="chats == null">
  <br>
  You don't have any chat history
</div>


<div *ngIf="chats != null">

</div>
  <body>
  <div id="box">
    <div class="scroll">

      <div class="chat-container">
        <ng-container *ngFor="let chat of chats">
          <div *ngIf="chat.userid_from.toString() == userId; else othercase">
          <div class="chat-item-container chat-item-right">
            <div class="chat-item">Message from {{chat.userid_from}} to {{chat.userid_to}}</div>
            <div class="chat-item"> <p>{{chat.Content}}</p><p>{{chat.Time}}</p></div>
          </div>
          </div>
          <ng-template #othercase>
          <div class="chat-item-container chat-item-left">
            <div class="chat-item">Message from {{chat.userid_from}} to {{chat.userid_to}}</div>
            <div class="chat-item"><p>{{chat.Content}}</p><p>{{chat.Time}}</p></div>
          </div>
          </ng-template>
        </ng-container>
      </div>

    </div>
  </div>

  <br>

  <mat-dialog-content [formGroup]="chatForm" (ngSubmit)="sendingchat()">
    <div>
      <label for="userid_to">Send chat to(id number):</label>
      <input id="userid_to" type="number" formControlName="userid_to">
    </div>
    <br>
    <div>
      <label for="content">Chat:</label>
      <textarea id="content" type="string" formControlName="content"></textarea>
    </div>


    <mat-dialog-actions>
      <button class="mat-raised-button mat-primary"(click)="sendingchat()">Send</button>
    </mat-dialog-actions>

  </mat-dialog-content>

  </body>

