
<h1>My profile</h1>

<head>
  <meta charset="utf-8">
  <!--font library is loaded prior to using mat-icons-->
  <link href=
          "https://fonts.googleapis.com/icon?family=Material+Icons&display=block"
        rel="stylesheet">
</head>

<p>userID: {{userId}}</p>

<button mat-raised-button (click)="editDialog()" *ngIf="profile2[0].userid.toString() == userId">Edit my profile</button>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ng-container *ngFor="let profile of profile2">
<div class="card">
  <h1>Name: {{profile.username}}</h1>
  <p>Birthday: {{profile.birthday}}</p>
  <p>Sex: {{profile.sex}}</p>
  <p>Email: {{profile.email}}</p>
  <p>Preference: {{profile.preference}}</p>
  <p>Credits: {{profile.credits}}</p>

  <p><button>Contact</button></p>
</div>
</ng-container>

