

<h1>CUMC Badminton Service</h1>

<body>

<p>Badminton is cool. Let's play.</p>

<ng-container
    *ngIf="isLoggedIn; then loggedIn; else loggedOut">
</ng-container>

<ng-template #loggedIn>
    <p> Hi {{currentUser.username}}</p>
    <img src={{currentUser.profile_pic}} alt="Italian Trulli">
</ng-template>

<ng-template #loggedOut>
    <p> Please log in</p>
    <a routerLink="/login" class="button fancy-button">
        <i class="material-icons">devices</i>Login
      </a>
</ng-template>

</body>