<h1 mat-dialog-title *ngIf="method == 'add'">send chat to friend:</h1>

<mat-dialog-content [formGroup]="newchatForm" (ngSubmit)="postSubmit()">
  <div>
    <label for="userid_to">userid_to:</label>
    <input id="userid_to" type="number" formControlName="userid_to">
  </div>
  <div>
    <label for="content">content:</label>
    <input id="content" type="string" formControlName="content">
  </div>


</mat-dialog-content>


      <mat-dialog-actions>
        <button class="mat-raised-button"(click)="close()">Close</button>
        <button class="mat-raised-button mat-primary"(click)="postSubmit()">Submit</button>
      </mat-dialog-actions>

